You are making a booking for
<%= params[:number_of_passengers] %>
passenger(s)

<%= render partial: 'flight_info', locals: {flight: Flight.find(params[:flight_id]) } %>

<br>
<%= link_to "Start Again", root_path %>
<br>
<br>

<div class="passengersdiv">
  <%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: params[:flight_id] %>
    <% params[:number_of_passengers].to_i.times do |i| %>
      <h3>Details for Passenger
      <%= i+1 %>
      </h3>
      <%= form.fields_for :passengers_attributes, index: i do |f| %>
        <div class="fieldandlabel">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="fieldandlabel">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      <% end %>
  <% end %>
  <br>
  <div class="searchdiv">
    <%= form.submit %>
  </div>
</div>
<% end %>
