You are making a booking for
<%= params[:number_of_passengers] %>
passenger(s) for
<%= @flight.flight_date %>
for Flight number
<%= @flight.id %>
which leaves
<%= @flight.departure_airport.code %>
at 
<%= @flight.start.strftime("%H:%M")%>
, lasting
<%= @flight.duration_hours %>
hours and
<%= @flight.duration_minutes %>
minutes before arriving at
<%= @flight.arrival_airport.code %>
<br>
<br>
<%= link_to "Start Again", root_path %>
<br>
<br>

<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :flight_id, value: params[:flight_id] %>
  <% params[:number_of_passengers].to_i.times do |i| %>
    <h3>Details for Passenger
    <%= i+1 %>
    </h3>
    <br>
    <br>
    <%= form.fields_for :passenger[i] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email %>
    <% end %>
    <br>
    <br>
  <% end %>
  <%= form.submit %>
<% end %>
