You are making a booking for
<%= params[:number_of_passengers] %>
passenger(s)

<%= render partial: 'flight_info', locals: {flight: Flight.find(params[:flight_id]) } %>

<br>
<%= link_to "Start Again", root_path %>
<br>
<br>

<div class="bookingformdiv">
  <%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: params[:flight_id] %>
    <div class="passengersdetailsdiv"
      <% params[:number_of_passengers].to_i.times do |i| %>
          <div class="onepassengerdiv">
            <h3>Details for Passenger
            <%= i+1 %>
            </h3>
            <%= form.fields_for :passengers_attributes, index: i do |f| %>
              <div class="bookingfieldandlabel">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>
              <div class="bookingfieldandlabel">
                <%= f.label :email %>
                <%= f.text_field :email %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <br>
    <div data-controller="add-passenger">
      <button type="button" data-add-passenger-target="add_button" data-action="add-passenger#add_form" >Add Passenger</button>
    </div>
  
    <br>
    <br>
    <div class="bookingsearchdiv", id="create">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<template id="onepassenger">
<div class="onepassengerdiv">
  <h3>Details for Passenger X</h3>
  <div class="bookingfieldandlabel">
    <label class="namelabel" for="booking_passengers_attributes_X_name">Name</label>
    <input class="nameinput" type="text" name="booking[passengers_attributes][X][name]" id="booking_passengers_attributes_X_name">
  </div>
  <div class="bookingfieldandlabel">
    <label class="emaillabel" for="booking_passengers_attributes_X_email">Email</label>
    <input class="emailinput" type="text" name="booking[passengers_attributes][X][email]" id="booking_passengers_attributes_X_email">
  </div>
</div>
</template>
