You have successfully made Booking number
<%= @booking.id %>

<%= render partial: 'flight_info', locals: {flight: @booking.flight} %>

<br>
The booking is for
<%= @booking.passengers.size %>
<% if @booking.passengers.size == 1 %>
  passenger
<% else %>
  passengers
<% end %>
, as follows:
<div class="declarebooking">
 <% @booking.passengers.each do |pass| %>
 <div class="innerdiv">  
    Name:
    <%= pass.name %>
    <br>
    Email:
    <%= pass.email %>
 </div>
 <% end %>
</div>
<%= link_to "Search Flights", root_path %>